@charset "utf-8";

.box {
  width: 80px;
  height: 80px;
  background: pink;
  transition-property:transform;
  transition-duration: 1s;
  transform-origin: top left;
}

.box:hover {
  /* transform: translate(40px, -40px); */
  /* transform: translateX(40px); */
  /* transform: rotate(45deg); */
  transform: scaleY(.5);

}